* {
    font-size: 1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
h2 {
    text-align:center
}
img {
    width: 100%;
    height: auto;
    
}
input {
    margin-left: 0.1rem;
    width: 90%;
}
output {
    border: 1px solid blue;
    margin-left: 1em;    
}
label {
    margin-bottom: 0.1rem;
}
.generalBtn {
    margin-left: 5%;
    margin-top: 1rem;
}

/* Display Recipe Button */
.recipeList {
    width: 40%;
    height: 2.5em;
    margin-left: 5em;
    margin-top: 1em;
}
.recipeListBtn {
    width: 8em;
    height: 2.5em;
    margin-left: 1em;
    margin-top: 1em;
}

/* For the Display and Entry Zone */
.displayEntry {
    margin-top: 1em;
    margin-left: 2em;
    width: auto;
    height: auto;
    border: 1px solid rgb(118, 124, 192);    
}
.list {
    margin-left: 2%;
    margin-top: 3%;  
}
textarea {
    width: 100%;
    margin-top: 0.1rem;
}

/* New Recipe Button */
.newRecipeDiv {
    width:40%;
    height: 3rem;
    margin-left: 35%;
    margin-top: 0.5em;
    /* border: 1px solid rgb(118, 124, 192); */
}