* {
    font-size: 1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
h2 {
    text-align:center
}
body{
    padding: 10%;
}
img {
    width: 90%;
    height: auto;
    margin: 5%;
    padding:0.2em;
}
input {
    margin-left: 0.1rem;
    width: 90%;
}
output {
    border: 1px solid blue;
    margin-left: 1em; 
    width: 90%;   
}
label {
    margin-bottom: 0.1rem;
    font-weight: bold;
}
/* .generalBtn {
    margin-left: 5%;
    margin-top: 1rem;
    width: 15rem; 
}*/

/* Display Recipe Button */
#recipeListSelect{   
    margin-left: 20%;
}
.recipeList {
    width: 12em;
    height: 2em;
    margin-left: 6%;
    margin-top: 1rem;
}
.generalBtn {
    width: 12em;
    height: 2em;
    margin-left: 6%;
    margin-top: 0.5rem;
}

/* For the Display and Entry Zone */
.displayEntry {
    margin-top: 1em;
    margin-left: 2em;
    width: auto;
    height: auto;
    border: 1px solid rgb(118, 124, 192);    
}
.list {
    margin-left: 2%;
    margin-top: 3%;  
}
textarea {
    width: 100%;
    margin-top: 0.1rem;
}

/* New Recipe Button */
.newRecipeDiv {
   
    height: 3rem;
    display:flex;
    /* flex-direction: row;
    align-content: center; */
    margin-left: 30%;
    margin-top: 0.5em;      
}